name: Scala

permissions:
  actions: write
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**/*.scala"
      - "**/*.sbt"
      - "**/*.nix"
      - "flake.lock"
      - "project/**"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.scala"
      - "**/*.sbt"
      - "**/*.nix"
      - "flake.lock"
      - "project/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Checkout

      - uses: DeterminateSystems/determinate-nix-action@v3
        name: Install Determinate Nix

      - uses: DeterminateSystems/magic-nix-cache-action@v13
        name: Cache Nix derivations

      - name: Cache SBT dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
            ~/.coursier
          key: sbt-${{ runner.os }}-${{ hashFiles('**/build.sbt', 'project/plugins.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-
      - name: Format with scalafmt
        run: nix develop . --command sbt scalafmtCheckAll

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Checkout

      - uses: DeterminateSystems/determinate-nix-action@v3
        name: Install Determinate Nix

      - uses: DeterminateSystems/magic-nix-cache-action@v13
        name: Cache Nix derivations

      - name: Cache SBT dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
            ~/.coursier
          key: sbt-${{ runner.os }}-${{ hashFiles('**/build.sbt', 'project/plugins.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-
      - name: Tests
        run: nix develop . --command sbt test
